.game-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: 800;
    background: linear-gradient(to right,red, red,yellow,rgb(95, 181, 214),#08ff00);
    color: transparent;
    background-clip: text;
}
.game-container{
    margin: 0;
    padding: 1em;
    display: flex;
    min-height: 50vh;
    /* height: max-content; */
    min-width: 50vh;
    /* border:2px solid rgb(255, 255, 255) ; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.limb-color-circle{
    display: block;
    width:230px;
    height: 230px;
    border-radius: 230px;
    border:5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    /* background-color: #ffff00; */

}
img.limb-icon{
    display: block;
    width: 210px;
    height: 210px;
    border:  unset;
    filter: unset; /* Prevents any default filters */
}
.spinner-output-text{
    display: block;
    flex-direction: column;
    width:300px;
    text-overflow: wrap;
    text-transform: uppercase;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.11);
    color:rgb(253, 253, 253);

}
.counter{
    display: block;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.11);
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.button{
    display: inline-flex;
    flex-direction: row;
    margin:2px;
    color:white;
    background-color: black;
}
